<div class="container flex h-screen justify-center items-center">
  <div class="w-3/5 h-3/5 bg-white flex flex-col justify-between p-4 rounded-xl"> <!-- Cambiamos 'justify-center' a 'justify-between' -->
    <h1 class="text-3xl text-center" ><%= @product.title %></h1>
    <!-- Tarjeta del Producto -->
    <div class="flex-grow flex flex-col justify-center">
      <%= render partial: 'products/product_details', locals: { product: @product } %>
    </div>
  </div>
</div>
